.saya-footer
    .saya
        .copyright
            |© 2014&nbsp;
            a(href=CONFIG.SITE_URL target="_blank") #{CONFIG.SITE_NAME}
            |&nbsp;BY&nbsp;
            a(href="https://github.com/SolidZORO/hadouken" target="_blank") HADOUKEN

        .hm.hidden
        script(type='text/javascript').
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?63392a0ec51d4ad23453b82650af1329";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();