.saya-footer
    .saya
        .copyright
            |© 2014&nbsp;
            a(href=CONFIG.SITE_URL target="_blank") #{CONFIG.SITE_NAME}
            |&nbsp;BY&nbsp;
            a(href="https://github.com/SolidZORO/HADOUKEN" target="_blank") HADOUKEN