.saya-footer
    .saya
        .copyright
            |© 2014&nbsp;
            a(href="http://solidzoro.com" target="_blank") SOLIDZORO
            |&nbsp;BY&nbsp;
            a(href="https://github.com/SolidZORO/HADOUKEN" target="_blank") HADOUKEN