.saya-header
    .saya
        .logo
            a(href= CONFIG.SITE_URL + "index.html" title=CONFIG.SITE_NAME alt=CONFIG.SITE_NAME) 首頁
        .nav
            //- ul
                li
                    a(href="../about.html") 關於
                li
                    a(href="../projectc.html") 專案