extends ./layout/default.jade

block title
    title SolidZORO

block container
    .saya-container
        .saya
            .list
                each day in one_page
                    .item
                        h2.title
                            a(href= HOME_PATH + DIRNAME_DAY + '/' + day.url + '.html') #{day.title}
                        .date #{day.data_zh}

                        .typo
                            - if (day.banner_thumb)
                                .banner-thumb
                                    img(src= HOME_PATH + day.banner_thumb)
                            - if (day.content_list_html)
                                |!{day.content_list_html}
                            - else
                                |!{day.content_html}
            include ./include/pagination.jade