// katana 即「日本刀」，katana用於body tag裏是不錯。
// saya 是刀鞘（wrap）。
//
// 別的比如：
// saki 刀尖（header）
// ha 刀刃（container）
// habaki 刀尾（footer）
//
// 為什麼用這些命名？
// 因為市面上的框架都叫，header，container，footer， 非常容易衝突。
// 所以得到這樣的命名。

// 全局變量
@screen-sm-min: 559px;
@border-radius-base: 5px;
@border-radius-small: 3px;
@brand-primary: #2C97DE;


// 引用normalize.css
@import "../lib/normalize.css/normalize.less";

// 引用minxins/sprite
@import "./mixins/sprite.less";

// 樣式基本框架
@import "./include/base.less";
@import "./include/typo.less";
@import "./include/header.less";
@import "./include/footer.less";

// 主題主要樣式
@import "./ryu.less";












