doctype html
html(lang='zh')
    head
        block title
            title SolidZORO
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='renderer', content='webkit')
        meta(name='description', content='')
        block style
        block script
    body.katana
        include header.jade
        block container
        include footer.jade