.saya-header
    .saya
        .logo
            a(href="../index.html") 首頁
        .nav
            ul
                li
                    a(href="#") 關於
                li
                    a(href="#") 履歷
                li
                    a(href="#") 朋友