extends ./layout/default.jade

block title
    title SolidZORO
block style
    link(rel='stylesheet', href='./themes/sample/assets/css/style.css')
block script
    script(src='./themes/sample/assets/js/app.js')

block container
    .saya-container
        .saya
            each entrie in entries
                .item
                    a(href='./day/' + entrie.url + '.html')
                        h2.title #{entrie.title}
                    .date #{entrie.date}

                    - if (entrie.banner)
                        .banner-thumb
                            img(src=entrie.banner_thumbnail)
                    .typo !{entrie.content_intro}